<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327623229706-uh2dpkiuic4eqrsasuaippkq7fl8gmu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327623229706-uh2dpkiuic4eqrsasuaippkq7fl8gmu3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>327623229706-jnq57np82c90dvhrctkabk0robrrek0j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACKSpWS1CPiwwBDv-fVKte7UoJfAFheLk</string>
	<key>GCM_SENDER_ID</key>
	<string>327623229706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magdy.smartstick</string>
	<key>PROJECT_ID</key>
	<string>smart-stick-424b6</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-stick-424b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327623229706:ios:b74256b4c733d20c0c3af3</string>
</dict>
</plist>